.title{
    color: darkred;
    font-size: 45px;
    margin-right: 23px;
    margin-left: 23px;
    margin-bottom: 23px;
    margin-top: 23px;

}

.shorttext{
    font-size: 20px;
    margin-bottom: 23px;
    margin-right: 23px;
    margin-left: 23px;
    margin-top: 23px;
}

.pubDate{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 23px;
    margin-right: 23px;
    margin-left: 23px;
    margin-top: 23px;
}

.clear{
    clear:both;
}